body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}


.text_color {
  color: #f76b40; 
}


.text_align {
  /* color: #f76b40;  */
  text-align: center;
}


.font_bold {
  font-weight: bold;
}

.background_color {
  background-color: #f76b40;
}

.button_theme {
  color: #fff;
}

.icon_margin {
  margin-right: 10px;
}

.padding_zero {
  padding: 0;
}

.margin_bottom_small {
  margin-bottom: 20px !important;
}

.margin_bottom_big{
  margin-bottom: 30px !important;
}

.padding_bottom_small {
  padding: 20px 0;
}


.padding_bottom_big {
  padding: 20px 0;
}

@media (min-width: 455px) {
  
.margin_bottom_small {
  margin-bottom: 20px !important;
}

.margin_bottom_big{
  margin-bottom: 70px !important;
}

.padding_bottom_small {
  padding: 20px 0;
}


.padding_bottom_big {
  padding: 50px 0;
}

}

.header_text {
  text-align: center;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.navBlock {
  display: flex;
  /* position: relative; */
  /* width: 100%; */
  /* top: 90px; */
}

.hamburger {
  display: flex;
  /* border: 1px solid #f76b40; */
  flex-direction: column;
  position: relative;
  position: absolute;

  top: 145px;
  left: 0;
  bottom: 0;
  padding: 15px;
  height: 50px;
}

.navbar-collapse {
  padding: 0;
}

.line {
  width:20px;
  border: 1px solid #f76b40;
}

.headerNav {
  /* display: flex; */
  /* justify-content: space-between; */
  font-size: 1.5rem;
}

.navbar-collapse.in {
  overflow-y: inherit !important  ;
}

     
.headerNav {
  /* display: flex; */
  /* flex-direction: column; */
}

.nav-item {
  margin-bottom: 15px;
}

.headerNav_link {
  text-decoration: none;
  color: #000;
  margin: 0;
  padding: 0 !important;
  margin-bottom: 5px !important;
  /* margin: 0px 10px;  */
}


.headerNav_link:hover {
  color: #000;
  background-color: transparent !important;
  border-bottom: 2px solid#f76b40;
  /* padding: -2px; */
  /* margin: 2px; */
  margin-bottom: -2px !important;
  
}


.headerNav_link:focus {
  color: #000;
  background-color: transparent !important;
  border-bottom: 2px solid#f76b40;
  padding-top: -2px;
  margin-bottom: -2px;
  
}

.headerContacts {
  text-align: right;
}

.headerContacts_link:hover {
  color: #f76b40;
  text-decoration: none;
}

.headerContacts_text:hover {
  /* text-decoration: dashed; */
  text-decoration: dotted;
}

@media (min-width: 455px) {
  .header {
      flex-direction: row;
  }

      
  .headerContacts {
      /* position: relative; */
      /* top: 80px; */
      position: relative;
      /* top: 160px; */
      /* right: 0; */
      display: flex;
      /* justify-content: space-between; */
      /* text-align: right; */
      /* width: 100%; */
      /* width: 300px; */
  }

  .hamburger {
      display: none;
  }

  
  .nav-item {
      margin-bottom: 0px;
  }

      
  .headerNav_link {
      margin: 0px 10px; 
  }

}

@media (min-width: 768px) {
  .container {
      width: 100%;
  }
  .headerNav {
      display: flex;
      flex-direction: column;
  }
}


@media (min-width: 992px) {
  .container {
      width: 100%;
  }

  
      
  .headerNav {
      display: flex;
      flex-direction: row;
  }


}

/* banner */
.banner {
  color: #fff;
  background-image: url("./banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:top center;
  text-align: center;
  /* max-width: 100%; */
}

.bannerBlock{
  text-align: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.bannerHeader {
  padding: 70px 0; 
}

.bannerHeader h1 {
  font-size: 22px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.requestForm {
  background-color: #f76b40;
  padding: 5px 10px;
  text-align: center;
}

.requestForm_input {
  color: #000;
  width: 100%;
  border-radius: 0;
  border: none;
}

.form-group {
  width: 100%;
  margin-right: 20px;
}

.form-group:last-child {
  margin-right: 0px;
}


.form-group input::placeholder, select {
  color: #000;
  font-weight: bold;
}

.requestForm_button {
  color: #fff;
  border: 2px solid #ececec;
}

@media(min-width: 455px) {
  .requestForm {
      width: 75%;
      
      /* width: 50%; */
      padding:10px 20px;
  }

  .requestForm_text {
      margin-bottom: 20px;
  }

  .bannerHeader h1 {
      font-size: 28px;
  }

      
  .bannerHeader {
      padding: 110px 0 150px 0; 
  }
  
  .requestForm_input {
      /* padding: 25px 20px; */
      font-size: 16px;
  }

  .requestForm_button {
      /* padding: 12px 20px; */
      border: 2px solid #ececec;
  }
}

@media(min-width: 600px) {
  .requestForm {
      width: 50%;
  }
}


@media(min-width: 992px) {
  .form {
      flex-direction: row;
  }

  .requestForm {
      width: 100%;
  }
}


/* our_services */
.ourService {
  height: 150px;
  color: #fff !important;
  /* background-size: cover; */
}

.ourService a {
  color: #fff !important;
  text-decoration: none;

}

.ourService a:hover {
  color: #fff !important;
  text-decoration: none;
}


.ourService_link {
  padding: 8px 40px;
}

.ourService_text {

}

.ourService_image {
  height: 100%;
  background-size: cover;
  max-width: 100%;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  text-align: center;
  align-items: center;
  /* padding: 20px; */
}

@media(min-width: 455px) {
  .ourService {
      height: 320px;        
  }

  .ourService_text {
      font-size: 2.8rem;
      margin-bottom: 40px !important;
  }

  .ourService_link {
      font-size: 1.8rem;
      padding: 13px 60px;
  }
}

/* our clients */

.owl-stage {
  display: flex;
}

.owl-item {
  /* display: inline-block; */
  /* float: left; */
  /* height: 150px; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.owl-item div {
  border: 2px solid #ececec;
  width: 150px;
  padding: 0 20px;
  box-sizing: content-box;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.owl-item div:hover {
  border: 2px solid #f76b40;
}


.owl-stage-outer {
  overflow:hidden;
  /* margin: 0 50px; */
}

.owl-carousel {
  /* padding:  0 50px; */
  /* padding:  0 120px; */
  text-align: center;
  position: relative;
}

.owl-nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -95px;
  color: #f76b40;
}

.owl-nav button {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  position: relative;
  border: 2px solid #ececec;
  background-color: transparent;
}

.owl-nav button:hover {
  border: 2px solid #f76b40;
  color: #f76b40;
}
/* 
.owl-nav button:active {
  border: 2px solid #f76b40;
  color: #f76b40;
} */

.owl-prev {
  /* left: -40px; */
}

.owl-next {
  /* left: 40px; */
}


.owl-stage-outer {
  /* border: 1px solid #ececec; */
}

/* .owl-stage-outer .active {
  border: 2px solid #f76b40;
} */

/* footer */

.footer {
  background-color: #1f2731;
  color: #fff;
  border-bottom:10px solid #f76b40;
  padding: 40px 0;
  text-align: center;
}

.footerNav {
  text-align: center;
  color: #f76b40;
}

.footerNav_link, .footerNav_link:hover, .footerContacts_link:hover{
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.footerNav_link:hover {
  background-color: transparent !important;
}

.footerContacts, .footerLocation {
  text-align: center;
}

.headerPhone_number {
  font-size: 2.3rem;
}
.headerPhone_text {
  display: none;
}

.footerPhone_number:before {
  content: url('.//whiteCall_icon.png');
  margin-right: 5px;
}

.footerContacts_link {
  color:#fff;
}


.footerContacts_text {
  /* color: #f76b40; */
}

.footerContacts_text:hover {
  color: #f76b40;
  text-decoration: dashed;
}

.footerLocation_image:before {
  content: url('.//location.png');
  margin-right: 5px;
}

@media (min-width: 455px) {
  
  .footerContacts {
      display: flex;
      justify-content: center;
  }

  .owl-nav {
      display: none;
  }

  .footerContacts_link {
      display: flex;
  }
  .footerPhone_number {
      margin-right: 10px;
  }

  .headerPhone_text {
      display: inline;
  }
  
}

@media (min-width: 520px) {
  .footerNav {
      display: flex;
      /* flex-direction: column; */
      justify-content: center;
  }
}

@media (min-width: 768px) {
  .navbar-nav {
      float: none;
  }
}

/* metal4 */

.table_link {
  color:#000;
  text-align: center;
}

.table_link:hover{
  text-decoration: none;
  color:#000;
}


/* tableHeader */

.metalPage_header {
  padding: 30px 0;
}


table {
  /* border: 1px solid #f76b40; */
  border: 2px solid #f76b40;
  font-size: 16px;
  width:100%;
}

table tr td:first-child {
  padding: 20px 0;
  padding-left: 20px;
}

tr {
  border-bottom: 2px solid#f76b40;
}

tr:nth-child(odd) {
  background-color: #FFEEDC;
}

tr:hover{
  background-color: rgba(0, 0, 0, .1);
}
/* 
.padding_left {
  padding: 20px 0;
  padding-left: 20px;
} */

.tableHeader {
  background-color: #f76b40;
  color: #fff;
  padding: 14px 0 !important;
  text-align:center;
  
  font-weight: 500;
  font-weight: bold;
}

/* contacts */
.contacts {
  background-color: #f76b40;
  color: #fff;
}

.contactsMail_link {
  text-decoration: none;
  color:#fff;
}

.contactsMail_link:hover {
  text-decoration: none;
  color:#fff;
}

.contactsBlock {
  /* display: flex; */
  /* justify-content: center; */
  padding-top: 20px;
  padding-bottom: 20px;
}

.contactsBlock h4 {
  text-align: center;
}

.contacts_text {
  text-align: left;
  /* padding-left: 20px; */
}

.adress:before{
  content: url("./location.png");
  margin-right: 10px;
}

.phone:before {
  content: url("./whiteCall_icon.png");
  margin-right: 10px;
}

.email:before {
  content: url("./email.png");
  margin-right: 10px;
}

.flex {
  display: flex;
  align-items: center;
}

.divider {
  border-left: 2px solid#fff;
  padding-left: 20px;
}

.map {
  height: 480px;
}

/* thanksBlock */
@media(min-width: 765px) {
  .thanksBlock {
      /* background-color: #f76b40; */
      /* color: #fff; */
      /* padding: 10px;  */
      margin: 70px 0;
  }
}


